body {
  background-size: cover;
}
body .caption {
  width: 50vw;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.imgLibrary {
  position: absolute;
  bottom: 5vh;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  transition: 1s all linear;
}

.card {
  position: relative;
  height: 120px;
  width: 120px;
  border: black 3px solid;
  border-radius: 50%;
  transition: 0.3s;
  animation: fadeIn;
  animation-duration: 1.5s;
}
.card:hover {
  transform: translateY(-2rem) scale(1.25);
}
.card:hover ~ .card {
  transform: translateX(50px);
}
.card:not(:first-child) {
  margin-left: -20vw;
}

.arrowContainer i {
  position: absolute;
  font-size: 40px;
  margin: 0 6vw;
  bottom: 10vh;
}
.arrowContainer i:first-child {
  left: 1vw;
}
.arrowContainer i:last-child {
  right: 1vw;
}

.caption {
  color: red;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  /*animation-name: animate-fade;*/
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Blur In */
.blur {
  animation-name: animate-blur;
  animation-timing-function: ease;
}

@keyframes animate-blur {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/*# sourceMappingURL=city-view.css.map */
